<mat-toolbar color="#FFF8E1">
    <mat-toolbar-row>
      <!-- <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button> -->
      <img class="img-fluid" src="assets/img/Logo/WeMiamLogo.jpg"width="50" height="auto" alt="Logo Wemiam">
    </mat-toolbar-row>
  </mat-toolbar>

  <br>
  <mat-drawer-container hasBackdrop="false">
    <mat-drawer #drawer mode="side" opened>
      <mat-accordion class="rl-object-options">

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <img class="img-fluid" src="assets/img/Icon/settings.png"width="40"  height="10" style="margin-bottom: 15px ; margin-top: 15px;" alt="Setting">
                  <h2 style="margin-top:20px ; margin-left:20px">Setting</h2>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-divider></mat-divider>
              <div class="card">
                <div class="card-header">Size</div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="input-group">
                      <input type="text" class="form-control" [(ngModel)]="canvas.size.width" (keyup)="changeSize()">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          Width
                        </span>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" [(ngModel)]="canvas.size.height" (keyup)="changeSize()">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          Height
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="!canvas.selected">
        <div class="card-header">Canvas</div>
        <div class="card-body">
          <div class="custom-item" *ngIf="!canvas.props.canvasImage">
            <div class="custom-item-title">Background Color</div>
            <div class="custom-item-body">
              <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="canvas.props.canvasFill"
                [style.background]="canvas.props.canvasFill" [value]="canvas.props.canvasFill"
                (colorPickerChange)="setCanvasFill()">
            </div>
          </div>
          <div class="custom-item">
            <div class="custom-item-title">Background Image (url)</div>
            <div class="custom-item-body">
              <input type="text" class="form-control" placeholder="http://example.jpg"
                [(ngModel)]="canvas.props.canvasImage" (keyup)="setCanvasImage()">
            </div>
          </div>
        </div>
      </div>
            </mat-list>
          </mat-expansion-panel>
              <br>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <img class="img-fluid" src="assets/img/Icon/tableNav.png"width="50" height="10" style="margin-bottom: 10px;" alt="Logo Tables">
                <h2 style="margin-top:20px ; margin-left:20px">Tables</h2>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-divider></mat-divider>
            <div class="card-body max-height">
                <img class="example-box" class="images-item" (click)="getImgPolaroidTable($event)" src="../assets/img/Tables/table1.svg" >
                <img class="example-box" class="images-item" (click)="getImgPolaroidTable($event)" src="../assets/img/Tables/table2.svg">
                <img class="images-item" class="images-item" (click)="getImgPolaroidTable($event)" src="../assets/img/Tables/table3.svg">
                <img class="images-item" class="images-item" (click)="getImgPolaroidTable($event)" src="../assets/img/Tables/table4.svg">
                <img class="images-item" class="images-item" (click)="getImgPolaroidTable($event)" src="../assets/img/Tables/table5.svg">
                <img class="images-item" class="images-item" (click)="getImgPolaroidTable($event)" src="../assets/img/Tables/table6.svg">
                <img class="images-item" class="images-item" (click)="getImgPolaroidTable($event)" src="../assets/img/Tables/table7.svg">
                <img class="images-item" class="images-item" (click)="getImgPolaroidTable($event)" src="../assets/img/Tables/office1.svg">
                <img class="images-item" class="images-item" (click)="getImgPolaroidTable($event)" src="../assets/img/Tables/office2.svg">
                <img class="images-item" class="images-item" (click)="getImgPolaroidTable($event)" src="../assets/img/Tables/office3.svg">
                <img class="images-item" class="images-item" (click)="getImgPolaroidTable($event)" src="../assets/img/Tables/office4.svg">
              </div>
          </mat-list>
        </mat-expansion-panel>
            <br>
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <img class="img-fluid" src="assets/img/Icon/Walls.png"width="50" height="10" style="margin-bottom: 10px;" alt="Logo Walls">
                        <h2 style="margin-top:20px ; margin-left:20px">walls</h2>
                  </mat-expansion-panel-header>
            <mat-divider></mat-divider>

            <div class="card-body text-center max-height">
                <div class="btn-group btn-group-vertical" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary" (click)="addFigure('rectangle');">Wall Horizontal</button>
                    <button type="button" class="btn btn-primary" (click)="addFigureVertical('rectangle');">Wall Vertical</button>
                    <button type="button" class="btn btn-primary" (click)="addFigure('circle');">RoundWall</button>
                    <img class="example-box" class="images-item" (click)="getImgPolaroidDecoration($event)" src="../assets/img/Porte/porte.svg" > <p>Porte</p>
                   
                </div>
              </div>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <img class="img-fluid" src="assets/img/Icon/Decoration.png"width="50" height="10" style="margin-bottom: 10px;" alt="Logo Decoration">
            <h2 style="margin-top:20px ; margin-left:20px">Decoration</h2>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-divider></mat-divider>
        <div class="card-body max-height" >
            <img class="example-box" class="images-item" (click)="getImgPolaroidDecoration($event)" src="../assets/img/Decoration/plant-garden.svg" >
            <img class="example-box" class="images-item" (click)="getImgPolaroidDecoration($event)" src="../assets/img/Decoration/cactus.svg">
            <img class="images-item" class="images-item" (click)="getImgPolaroidDecoration($event)" src="../assets/img/Decoration/flower-rose.svg">
            <img class="images-item" class="images-item" (click)="getImgPolaroidDecoration($event)" src="../assets/img/Decoration/Christmas_Tree.svg">
            <img class="images-item" class="images-item" (click)="getImgPolaroidDecoration($event)" src="../assets/img/Decoration/Plant-003-Tall.svg">
            <img class="images-item" class="images-item" (click)="getImgPolaroidDecoration($event)" src="../assets/img/Decoration/snowglobeSnowman.svg">
            <img class="images-item" class="images-item" (click)="getImgPolaroidDecoration($event)" src="../assets/img/Decoration/marie-antoinette-bust-3d.svg">
            <img class="images-item" class="images-item" (click)="getImgPolaroidDecoration($event)" src="../assets/img/Decoration/stork-couple-3d-wireframe.svg">
            <img class="images-item" class="images-item" (click)="getImgPolaroidDecoration($event)" src="../assets/img/Decoration/SNOWMAN1.svg">
            <img class="images-item" class="images-item" (click)="getImgPolaroidDecoration($event)" src="../assets/img/Decoration/medusa-head-bust-3d.svg">
            <img class="images-item" class="images-item" (click)="getImgPolaroidDecoration($event)" src="../assets/img/Decoration/PoolTable.svg">
            <img class="images-item" class="images-item" (click)="getImgPolaroidDecoration($event)" src="../assets/img/Decoration/GlitchSimplifiedDouchySofa.svg">
          </div>
      </mat-list>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
          <img class="img-fluid" src="assets/img/Icon/position.png"width="50" height="10" style="margin-bottom: 10px;" alt="Logo position">
          <button style="margin-left: 50px;" type="button" class="btn btn-light" (click)="addPostion('Emplacement');">Position</button>
        </mat-expansion-panel-header>
</mat-expansion-panel>
      </mat-accordion>
    </mat-drawer>
  
    <mat-drawer-content>
      <div class="row">
        <div class="col-xl-12">
            <br/>
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-primary btn-sm" (click)="rasterizeJSON()">
                        <i class="fa fa-refresh" aria-hidden="true"></i> Save 
                      </button>
                        <button style="margin: 10px" type="button" class="btn btn-danger" (click)="confirmClear();">
                            <i class="fa fa-ban" aria-hidden="true"></i> Clean
                        </button>
                            <button style="margin: 5px" data-toggle="tooltip" data-placement="bottom" title="Delete element" type="button" class="btn btn-outline-danger" [disabled]="!canvas.selected"
                            (click)="removeSelected();">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>

                            <select style="width:50px; margin: 10px" (change)="onSelectFloor($event)">
                                <option [value]="floor.floor_id" *ngFor="let floor of floors">{{floor.floor_level}}
                             </option> </select>                          
                      </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <app-lib #canvas ></app-lib>
            </div>
                
    </mat-drawer-content>
  </mat-drawer-container>
